body {
	/*background-color: #F9F3F3;*/
}
nav {
	width: 90%;
	margin: 15px auto;
	border-bottom: 1px solid black;
}
li {
	text-decoration: none;
}
.title {
  font-size: 2em;
}

.contentContainer {
	max-width: 360px;
  margin-top: -15vh;

}
.content {
  box-sizing: border-box;
  border-radius: 50%;
  background: url() no-repeat;
  cursor: pointer;
  background-color: #DDDDDD;
  border: 1px solid gray;
  max-width: 70%;
  height: 240px;
  text-align: center;
  overflow: hidden;
  margin-top: 26vh;
  margin-left: 50px;
}
#icon1 {
  margin-top: 33%;
}
#icon2 {
  margin-top: 33%;
}
#icon3 {
  margin-top: 33%;
}
.titles {
	margin-top: 15px;
  margin-left: 20px;
}


.extenderNav {

}
.extenderOptions {
  display: inline-block;
  font-size: 2em;
  background-color: rgba(211, 77, 68, .5); 
  padding: 0em 3em;
  cursor: pointer;
}
#vicTab {
  
}
#blockTab {

}
#topTab {

}

.links {
  display: block;
  text-align: center;
  font-size: 2em;
}
.links:hover{
  text-decoration: none;
}

#pic1 {
  background: url(images/dev/vic_lander.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic2 {
  background: url(images/dev/vic_post.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic3 {
  background: url(images/dev/vic_post2.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic4 {
  background: url(images/dev/vic_story.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic5 {
  background: url(images/dev/block_landing.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic6 {
  background: url(images/dev/block_copy.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic7 {
  background: url(images/dev/block_profile.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic8 {
  background: url(images/dev/block_250.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic9 {
  background: url(images/dev/vic_lander.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic10 {
  background: url(images/dev/vic_post.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic11 {
  background: url(images/dev/vic_post2.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}
#pic12 {
  background: url(images/dev/vic_story.png);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}




